click==8.1.8
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.15.0
mypy-extensions==1.0.0
polars==1.22.0
pygments==2.19.1
rich==13.9.4
ruff==0.9.6
shellingham==1.5.4
tomli==2.2.1
typer==0.15.1
typing-extensions==4.12.2
